.title {
    font-size: 2.5em;
    margin-bottom: 20px;
    border-bottom: 2px solid #5B7065;
}
.education__wrapper {
    margin-top: 50px;
}
.item {
    margin-top: 20px;
}
.src__link {
    color: aliceblue;
}
.text__container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}